<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="view/css/styleFile.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src=http://code.jquery.com/jquery-latest.min.js></script>
           <script type="text/javascript" src="view/js/chat.js"></script>

    </head>
    <body>
        <div id="messages_container">
            <div id="messages" style="overflow-y: scroll; height: 100%;"></div>

        </div>
        <div id="onlineUsers">
            <h1 class="headerText">Online Users</h1>
            <div id="users"></div>
        </div>

            <div class="message-container">
                <input class="input-field" id="message" type="text"
                    name="UserName"
                    placeholder="Eneter Message">
                <input onclick="send();" type="button" name="send" value="Send">

        </body>

    </html>